-- For user: admin1
UPDATE users_auth SET password_hash='PBKDF2$120000$UheAsRJgdA4oA5Q5oWf0iA==$cog7UmHWKaGgOp3AzhVywx0vcStWpTWy4A2uXvhRlhI=' WHERE username='admin1';

-- For user: inst1
UPDATE users_auth SET password_hash='PBKDF2$120000$KJbRWv6SPyycEnqNXxsRbQ==$e1Rg4LzD4ewpjj972Qy5QSfuuI2b4gFGhYS1x1+WGWY=' WHERE username='inst1';

-- For user: stu1
UPDATE users_auth SET password_hash='PBKDF2$120000$v4XCCcoCwLTlj2fhhwkCoA==$6tAl0eEHM69L5/XcSbIM8zfpUps4GvC5YDnK4I/lZ/A=' WHERE username='stu1';

-- For user: stu2
UPDATE users_auth SET password_hash='PBKDF2$120000$yVpkAxT2rR9f0bYoA0D5VA==$+a16Wvm/4seMfOW906QMADIsvTnIY4pseEpm3Y6YYPY=' WHERE username='stu2';

